@font-face
 {font-family:Wingdings;
 panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
 {font-family:"Cambria Math";
 panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
 {font-family:Calibri;
 panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
 {font-family:Cambria;
 panose-1:2 4 5 3 5 4 6 3 2 4;}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
 {margin:0in;
 margin-bottom:.0001pt;
 text-align:center;
 font-size:11.0pt;
 font-family:"Calibri",sans-serif;
 width:100%;}

a:link, span.MsoHyperlink
 {color:#0563C1;
 text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
 {color:#954F72;
 text-decoration:underline;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
 {margin-top:0in;
 margin-right:0in;
 margin-bottom:0in;
 margin-left:.5in;
 margin-bottom:.0001pt;
 text-align:center;
 font-size:11.0pt;
 font-family:"Calibri",sans-serif;
 width:100%;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
 {margin-top:0in;
 margin-right:0in;
 margin-bottom:0in;
 margin-left:.5in;
 margin-bottom:.0001pt;
 text-align:center;
 font-size:11.0pt;
 font-family:"Calibri",sans-serif;
 width:95%;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
 {margin-top:0in;
 margin-right:0in;
 margin-bottom:0in;
 margin-left:.5in;
 margin-bottom:.0001pt;
 text-align:center;
 font-size:11.0pt;
 font-family:"Calibri",sans-serif;
 width:95%;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
 {margin-top:0in;
 margin-right:0in;
 margin-bottom:0in;
 margin-left:.5in;
 margin-bottom:.0001pt;
 text-align:center;
 font-size:11.0pt;
 font-family:"Calibri",sans-serif;
 width:95%;}
.MsoChpDefault
 {font-family:"Calibri",sans-serif;}
.MsoPapDefault
 {text-align:center;}
@page WordSection1
 {size:11.0in 8.5in;
 margin:9.35pt 23.05pt .5in .3in;}
div.WordSection1
 {page:WordSection1;}
/* List Definitions */
ol
 {margin-bottom:0in;}
ul
 {margin-bottom:0in;}
-->
